section.record {
    font-family: CourierPrime;
    font-weight: normal;
    overflow-y: scroll; overflow-x: hidden;
    background-color: var(--rgb-bg);
}
::-webkit-scrollbar {
    background-color: var(--rgb-bg);
    width: 0.5rem;
    height: 0.5rem;
} 
::-webkit-scrollbar-thumb {
    background-color: var(--rgb-ui);
    border-radius: 0;
}  

section.record ::selection {
    color: var(--rgb-bg);
    background-color: var(--rgb-ui-select);
    font-weight: bold;
}
  
