section.terminal {
    font-family: FiraCode;
    font-weight: normal;

    display: flex;
    flex-direction: column;

    background-color: var(--rgb-bg);
}

section.terminal > .window {
    /* background-color: var(--rgb-debug); */
    outline: var(--rgb-debug) 2px dotted;
    overflow: scroll;
    height: 27vh;
    padding: 0.5rem;
    line-height: 1.25rem;
}

section.terminal > .command-line {
    margin: 0.25rem;
}
